
<% if @agossip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gossip.errors.count, "error") %> prohibited
        this gossipfrom being saved:
      </h2>
      <ul>
        <% @gossip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<%= label_tag 'anonymous_author', 'auteur' %>
	<%= text_field_tag 'anonymous_author' %>

	<%= label_tag 'content', 'ton gossip' %>
	<%= text_field_tag 'author' %>